@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(9, 255, 0);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

p {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  font-size: 1.7rem;
}

img, picture {
  width: 100%;
  display: block;
}

.contenedor {
  width: 95%;
  margin: 0 auto;
}

@keyframes transitionaparece {
  0% {
    transform: translateX(-240px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* ----------------------------------------- GLOBALES ----------------------------------------*/

header {
  background-image: url("/fondo.jpg");
  background-image: linear-gradient( rgba(0, 0, 0, .7) 0%,  rgba(0, 0, 0, .6) 100%), url('/fondo.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 1rem;
  border-radius: 0 0 9rem 9rem;
  margin-bottom: 3rem;
}

.radiusnormal {
  border-radius: 0 0 2rem 2rem;
}

.contenidoheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.divbarra {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  font-family: 'Kalam', cursive;
  font-weight: bold;
  color: white;
  width: 18rem;
}

.carrito {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

.carrito-ocultar {
  display: none;
}

@media(min-width:500px) {
  .logo {
    width: 25rem;
  }
}

@media(min-width: 768px){
  .logo{
    width: 30rem;
  }
  .carrito-ocultar {
    display: block;
  }
}

.navegacion {
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.links {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Kalam', cursive;
  text-align: center;
}

.slogan {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: white;
  width: 95%;
  margin: 0 auto;
}

.slogan {
  display: grid;
}

.contenido-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  animation: transitionaparece 1.3s .1s linear;
}

.contenido-slogan p {
  font-size: 2.5rem;
}

.contenido-slogan p span {
  color: rgb(9, 255, 0);
}


.slogan h3 {
  font-size: 2.5rem;
  color: white;
}

.slogan h4 {
  font-size: 2rem;
  color: white;
}

.div-imagen-promo {
  display: flex;
  justify-content: center;
  animation: transitionaparece 1s linear;
}

.imagenpromo {
  height: 15rem;
  object-fit: contain;
}

.cincuenta {
  font-size: 5rem;
  color: rgb(9, 255, 0);
}

.footercontent {
  font-family: 'Kalam', cursive;
  color: white;
  font-size: 6rem;
}

footer {
  background-color: #1a1a1a;
  border-radius: 2rem 2rem 0 0;
  margin-top: 3rem;
  padding: 1rem;
}

@media(min-width:500px) {
  .imagenpromo {
    height: 20rem;
  }
}

@media (min-width: 768px) {
  .footercontent {
    font-size: 7rem;
  }
  .imagenpromo {
    height: 40rem;
    width: 50rem;
  }

  .slogan {
    height: 33rem;
    height: 45rem;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    justify-content: space-between;
    padding-top: 3rem;
  }
  .contenido-slogan {
    margin-bottom: 0;
  }
  .slogan h3 {
    font-size: 4rem;
  }
  .slogan h4 {
    font-size: 3rem;
  }
  .cincuenta {
    font-size: 8rem;
  }
  .contenidoheader {
    flex-direction: row;
  }
  .links {
    text-decoration: none;
  }
  .menuicono {
    visibility: hidden;
    display: none;
  }

  .logo {
    font-size: 9rem;
  }

  .navegacion {
    flex-direction: row;
    gap: 6rem;
  }
}

/* --------------------------------------------- CATALOGO -------------------------------------------------*/

.seccionproductos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccionfiltros {
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filtrodiv {
  background-color: #d6d6d6;
  padding: .5rem 1rem;
  border-radius: 1rem;
  color: #3d3d3d;
}

.seccionfiltros select {
  font-size: 1.7rem;
  background-color: #acacac;
  background-color: #1a1a1a;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
}

.preciosrange {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preciosrange p {
  text-align: center;
}

.preciocard {
  color: rgb(53, 196, 48);
}

.filtrotext {
  font-size: 2rem;
}

.productos {
  display: grid; 
}

.productoscards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.productocard {
  border: solid 1px #acacac;
  background-color: #eeeeee;
  border-radius: 1rem;
  box-shadow: 0px 5px 15px 0px rgba(107, 106, 107, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productocard .precio {
  
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
}

.productocard .titulo {
  color: #1a1a1a;
}

.productocard img {
  border-radius: 1rem;
  height: 15rem;
  object-fit: contain;
}

.div-imagen-prodcard {
  background-color: white;
  border-radius: 1rem;
}

.contenidocard {
  padding: 1rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.range {
  accent-color: rgb(9, 255, 0);
  width: 90%;
  margin-top: .5rem;
}

.range:hover {
  accent-color: rgba(9, 255, 0, 0.582);
  cursor: pointer;
}

.rangeprices {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.rangeprices p {
  font-size: 1.5rem;
  color: #3d3d3d;
}

.contenidocard .titulo {
  font-size: 2rem;
}

.contenidocard .informacion {
  background-color: #1a1a1a;
  font-size: 2rem;
  color: white;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.contenidocard .informacion:hover {
  background-color: #3d3d3d;
  transition: all .7s;
}

.whatsapp {
  height: 6rem;
  width: 6rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
}

.whatsapp:hover {
  transform: scale(1.05);
  transition: all .5s;
}

.divpaginador {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.paginador {
  background-color: #b9b9b9;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}

.paginador-activo {
  background-color: rgba(9, 255, 0, 0.697);
}

@media(min-width: 768px) {
  .productocard img {
    height: 25rem;
  }
  .whatsapp {
    height: 7rem;
    width: 7rem;
  }
  .productoscards {
    margin-left: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .seccionfiltros {
    padding-right: 2rem;
    border-right: solid 1px #acacac;
  }
  .productos {
    grid-template-columns: 2.2fr 10fr;
    margin-top: 2rem;
  }
}

@media(min-width: 860px) {
  .productoscards {
    margin-left: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1024px) {
  .productoscards {
    grid-template-columns: repeat(4, 1fr);
  }
}


/* -------------------------------------- PRODUCTO ------------------------------------*/

.notificacion-carrito {
  position: fixed;
  bottom: 3rem;
  padding: 2rem;
  background-color: #51c57b;
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  border-radius: 2rem;
  width: 95%;
  text-align: center;
}

.titulo-producto-final {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: black;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.imagen-prod-pag {
  height: 5rem;
  width: 5rem;
  border: 1px solid #a5a5a5;
  border-radius: 1rem;
  padding: .5rem;
}

.imagen-titulos{
  display: grid;
  margin-top: 4rem;
  gap: 2rem;
}

.imagen-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor2 {
  width: 95%;
  margin: 0 auto;
}


.beneficios {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.icono-incluido {
  height: 3rem;
  width: 3rem;
}

.contenido-producto-final {
  border-radius: 2rem;
  border: 1px solid #a0a0a0;
  background-color: #dfdfdf;
  background-color: #ebebeb;
  padding: 2rem;
}

.precio-prod {
  margin-top: 1rem;
  font-size: 3rem;
}

.boton-ordenar {
  display: flex;
  background-color: #25d366;
  gap: 1rem;
  align-items: center;
  color: white;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: .5rem;
  cursor: pointer;
}

.boton-ordenar:hover {
  background-color: #2bca65;
  transition: all .5s;
}

.boton-ordenar p {
  font-size: 2rem;
}

.boton-ordenar img {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
}

.colores {
  font-weight: bold;
  margin-top: 1rem;
  font-style: italic; 
}

.colores span {
  font-weight: normal;
}

.botones-carrito {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.botones-carrito button {
  background-color: #72727257;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 100%;
}

.botones-carrito input {
  border: 1px solid #3d3d3d77;
  font-size: 1.5rem;
  width: 7rem;
  text-align: center;
  border-radius: 1rem;
}

.boton-agregar-carrito {
  background-color: #1a1a1a;
  color: white;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 2rem;
  border-radius: 1rem;
}

.boton-agregar-carrito:hover {
  background-color: #3f3f3f;
  transition: all .7s;
}

.titulo-descripcion {
  font-size: 3rem;
}

.boton-descripcion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .4rem 1rem;
  background-color: #d6d6d6;
  color: #3d3d3d;
  border-radius: 1rem;
  margin-top: 2rem;
  border: 1px solid #a5a5a5;
  cursor: pointer;
}

.descripcion {
  background-color: #d1d1d1;
  border-radius: 1rem;
}

.descripcion-parrafo {
  padding: 1rem 2rem;
  color: #3d3d3d;
  text-align: justify;
}

.imagen-principal-producto {
  border-radius: 1rem;
  object-fit: contain;
}


@media(min-width: 500px) {
  .imagen-principal-producto {
    height: 45rem;
    width: 45rem;
  }
  .imagen-prod-pag {
    height: 8rem;
    width: 8rem;
  }
  .carousel {
    gap: 2rem;
  }
}

@media (min-width: 1042px) {
  .boton-ordenar p {
    font-size: 3rem;
  }
  .notificacion-carrito {
    width: 80%;
  }
  .boton-ordenar img {
    width: 5rem;
    height: 5rem;
  }
  .imagen-titulos {
    grid-template-columns: 5fr 3fr;
  }
  .imagen-principal-producto {
    height: 50rem;
    width: 50rem;
  }
  .contenedor2 {
    width: 80%;
    margin: 0 auto;
  }
  .imagen-prod-pag {
    height: 9rem;
    width: 9rem;
  }
  .titulo-producto-final {
    font-size: 4rem;
    font-weight: normal;
  }
  
}


/* --------------------------------------- NOSOTROS -------------------------------------*/

.contenido-nosotros {
  width: 93%;
  margin: 0 auto;
  padding-top: 3rem;
}

.p-contactar {
  box-shadow: 0px 5px 15px 0px rgba(107, 106, 107, 0.6);
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 3rem;
  color: #3d3d3d;
}

.contenido-nosotros p {
  font-size: 2rem;
  text-align: justify;
}

.imagenes-nosotros {
  display: grid;
  text-align: center;
  gap: 3rem;
}

.div-imagen {
  display: flex;
  justify-content: center;
}

.imagenes-nosotros img {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0px 5px 15px 0px rgba(107, 106, 107, 0.3);
}

.adicion {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.boton-nosotros {
  padding-right: 3rem;
}

.imagenredsocial {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.divconta p {
  font-size: 3.5rem;
  color: #2bca65;
}

.imagenredsocial:hover {
  transform: rotate(20deg);
  transition: all 1s;
}

@media (min-width: 768px) {
  .imagenredsocial {
    width: 8rem;
    height: 8rem;
  }
  .contenido-nosotros {
    width: 80%;
  }
  .imagenes-nosotros {
    grid-template-columns: repeat(2, 1fr);
  }

  .imagenes-nosotros img {
    height: 40rem;
    width: 50rem;
  }
}

/* ---------------------------------------------- Catalogo MAYORISTA ------------------------------------*/

.seccionbeneficios {
  padding-bottom: 2rem;
}

.divmayorista {
  display: flex;
  justify-content: center;
}

.sloganmayorista {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem 0;
  width: 85%;
}

.beneficio {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.beneficio-mayorista-icono {
  width: 4rem;
  height: 4rem;
}

.beneficio p {
  color: black;
  font-size: 1.7rem;
  text-align: center;
}


@media (min-width: 768px) {
  .beneficio {
    flex-direction: column;
  }
  .sloganmayorista {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    width: 90%;
  }
  .beneficio-mayorista-icono {
    height: 15rem;
    width: 100%;
  }
  .beneficio p {
    font-size: 2.5rem;
  }
}


/* --------------------------------- CHECKOUT  ----------------------------------*/

.pagina-checkout {
  display: grid;
  gap: 4rem;
}

.grid-item:nth-child(1){
  order: 2;
}

.grid-item:nth-child(2){
  order: 1;
}

.informacion-envio {
  padding: 2rem;
}

.informacion-envio h1 {
  margin-bottom: 3rem;
}

.div-rows-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.div-row-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.div-row-info label, .div-row-info input, .div-row-info select {
  font-size: 1.7rem;
}

.div-row-info label {
  font-weight: bold;
}

.div-row-info input, .div-row-info select {
  padding: 1rem;
  border: 1px solid #afafaf;
  border-radius: 1rem;
  box-shadow: 0px 5px 15px 0px rgba(107, 106, 107, 0.3);
}


.informacion-pedido {
  border: 1px solid #e7e7e7e7;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #e7e7e765;
  box-shadow: 10px 7px 74px -12px rgba(114, 114, 114, 0.75);
}

.boton-checkout {
  background-color: #1a1a1a;
  background-color: black;
  width: 100%;
  padding: 1.7rem;
  font-size: 2rem;
  border-radius: 2rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.truck-button {
  width: 3rem;
  height: 3rem;
}

.boton-checkout:hover {
  background-color: #2b2b2b;
  transition: all .5s;
}

.boton-info-pedido{
  display: none;
}

.ocultar-info-pedido {
  display: none;
}

.alerta {
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
}

.resumen-productos {
  border-bottom: 1px solid #727272;
  padding-bottom: 2rem;
}

.producto-checkout {
  display: grid;
  grid-template-columns: .7fr 3fr .8fr;
  gap: 2rem;
  align-items: center;
  padding-top: 2rem;
}

.nombre-checkout {
  font-weight: bold;
}

.cantidad-checkout {
  color: #3a3a3a;
}

.contenedor-checkout {
  width: 90%;
  margin: 0 auto;
}

.imagen-checkout {
  border-radius: 1rem;
}

.seccion-total {
  padding-bottom: 2rem;
  border-bottom: 1px solid #727272;
}

.envios-fotos {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 2rem;
}

.envios-fotos img {
  width: 8rem;
}



@media(min-width: 768px) {
  .contenedor-checkout {
    width: 85%;
  }

  .div-rows-info {
    flex-direction: row;
  }
  
  
}

@media(min-width: 1024px) {
  .boton-checkout {
    margin-top: 1rem;
  }
  .pagina-checkout {
    grid-template-columns: 3fr 1.5fr;
  }
  .grid-item:nth-child(1){
    order: 1;
  }
  
  .grid-item:nth-child(2){
    order: 2;
  }
  .ocultar-info-pedido {
    display: block;
  }
  .boton-info-pedido{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
}